body {
  margin: 0;
  line-height: normal;
}

:root {
  

  
  --color-black: #000;
  --color-crimson: #ff1e56;
  --color-dimgray: #5c2846;
  --color-gainsboro: rgba(217, 217, 217, 0.2);
  --color-lavenderblush: #f8e8ee;
  --color-palevioletred-100: #b86a90;
  --color-palevioletred-200: #94476d;
  --color-palevioletred-300: rgba(234, 106, 152, 0.85);
  --color-pink-100: #fdcedf;
  --color-pink-200: #f2bed1;
  --color-pink-300: #d9a6b8;
  --color-white: #fff;

  
  --gap-10: 10px;
  --gap-14: 14px;
  --gap-15: 15px;
  --gap-16: 16px;
  --gap-17: 17px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-30: 30px;
  --gap-32: 32px;
  --gap-36: 36px;

  
  --padding-0: 0px;
  --padding-01: 0;
  --padding-1: 1px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-6: 6px;
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-15: 15px;
  --padding-16: 16px;
  --padding-18: 18px;
  --padding-19: 19px;
  --padding-20: 20px;
  --padding-21: 21px;
  --padding-24: 24px;
  --padding-26: 26px;
  --padding-28: 28px;
  --padding-32: 32px;
  --padding-48: 48px;

  
  --br-10: 10px;
  --br-13: 13px;

  
  --font-jetbrains-mono-nl: JetBrains Mono NL;
  --font-lato: Lato;
  --font-playfair-display: Playfair Display;
  --font-roboto: Roboto;

  
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-26: 26px;
  --fs-29: 29px;
  --fs-32: 32px;
  --fs-36: 36px;

  
  --border-1: 2px solid var(--color-black);
  --border-11: 1px solid var(--color-dimgray);

  
  --shadow-drop: 0px 5px 20px rgba(0, 0, 0, 0.15);

  
  --height-1: 1px;
  --height-2: 2px;
  --height-20: 20px;
  --height-30: 30px;
  --height-46: 46px;
  --height-540: 540px;
  --min-w-233: 233px;
  --width-2: 2px;
  --width-20: 20px;
  --width-28: 28px;
  --width-30: 30px;
  --width-36: 36px;
  --width-137: 137px;
  --width-383: 383px;
  --width-540: 540px;

 
  --lh-22: 22px;
  --lh-27: 27px;
  --lh-30: 30px;
  --lh-36: 36px;
  --lh-40: 40px;
  --lh-normal: normal;

  
  --ls-0_03: 0.03;
  --ls-normal: normal;

  --left-0: 0px;
  --top-0: 0px;
}
